@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    border: red solid 2px;
    background-image: url(../_img/cool-background.png);
    font-family: 'Lora', serif;
    background-size: cover;
}

.card{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 300px;
    background: rgb(232, 84, 198);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 30px 5px rgb(197, 29, 138);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 35px;
    border-right: black solid 1px;
}

.profile>h1 {
    line-height: 1px;
    margin-left: 60px;
   text-align: center; 
}
#ana{
    margin: auto;
    height: 15px;
    padding-top: 10px;
}


#avatar{
    width: 100px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 15px;
}

.info{
    border: red solid 2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon{
    width: 50px;
    margin: 10px; 
    transition: transform 0.3s ease-in-out;
}

.icon:hover{
    transform: scale(1.3);
}

.text{
    line-height: 5px;
    margin-top: 20px;
    text-shadow: 2px 2px 7px rgb(116, 16, 99);
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
}


